@keyframes scroll-infinite {
  0% { transform: translateX(0); }
  100% { transform: translateX(-33.333%); }
}

.animate-scroll-infinite {
  animation: scroll-infinite 60s linear infinite;
}

.animate-scroll-infinite:hover {
  animation-play-state: paused;
}